version: "3.9"

services:

  user-registration-service:
    container_name: user-registration-service
    build:
      context: ./UserRegistrationService
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      - registration-db
      - opensearch
      - kafka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - KAFKA__BOOTSTRAP_SERVERS=kafka:29092
      - ConnectionStrings__PostgreSqlDbConnection=Host=registration-db;Port=5432;Database=${REG_DB};Username=${REG_USER};Password=${REG_PASSWORD}
      - OpenSearch__Url=http://opensearch:9200

  reporting-service:
    container_name: reporting-service
    build:
      context: ./ReportingService
      dockerfile: Dockerfile
    ports:
      - "5001:8080"
    depends_on:
      - reporting-db
      - opensearch
      - kafka
    volumes:
      - "C:/user_report:/app/user_report"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - KAFKA__BOOTSTRAP_SERVERS=kafka:29092
      - ConnectionStrings__PostgreSqlDbConnection=Host=reporting-db;Port=5432;Database=${REP_DB};Username=${REP_USER};Password=${REP_PASSWORD}
      - OpenSearch__Url=http://opensearch:9200
    
      
  registration-db:
    container_name: registration-db
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=${REG_USER}
      - POSTGRES_PASSWORD=${REG_PASSWORD}
      - POSTGRES_DB=${REG_DB}
    volumes:
      - reg_pgdata:/var/lib/postgresql/data

  reporting-db:
    container_name: reporting-db
    image: postgres:16
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=${REP_USER}
      - POSTGRES_PASSWORD=${REP_PASSWORD}
      - POSTGRES_DB=${REP_DB}
    volumes:
      - rep_pgdata:/var/lib/postgresql/data

  opensearch:
    container_name: opensearch
    image: opensearchproject/opensearch:2.15.0
    ports:
      - "9200:9200"
      - "9600:9600"
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.15.0
    container_name: opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      - OPENSEARCH_HOSTS=http://opensearch:9200
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    depends_on:
      - opensearch

  kafka:
    image: apache/kafka:latest
    hostname: kafka
    container_name: kafka
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093
      KAFKA_LISTENERS: PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092"]
      interval: 10s
      timeout: 5s
      retries: 10

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    ports:
      - "8081:8080"
    depends_on:
      - kafka
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:29092
      - KAFKA_CLUSTERS_0_METRICS_PORT=9101
      - SERVER_PORT=8080
      
volumes:
  reg_pgdata:
  rep_pgdata:
  opensearch-data:
  kafka_data:


